---
title: Blog
layout: 'base.ejs'
--- 

       
<div class="section container">
<h1 class="section-title">Recent articles</h1>
  <ul role="list" class="articles__list flow">
    <% for(let post of collections.post.reverse()) {%>
      <%- include ('/article-snippet', { post: post }) %>
    <% } %>
  </ul>
</div>